In [1]:
import pandas as pd

In [2]:
data = {
    "Date": ["2024-01-05", "2024-01-12", "2024-01-15", "2024-02-03", "2024-02-15", "2024-02-20",
             "2024-03-10", "2024-03-18", "2024-03-25", "2024-03-28"],
    "Product": ["Laptop", "Smartphone", "Headphones", "Laptop", "Smartphone", "Smartwatch",
                "Smartphone", "Smartwatch", "Laptop", "Headphones"],
    "Category": ["Electronics", "Electronics", "Accessories", "Electronics", "Electronics", "Accessories",
                 "Electronics", "Accessories", "Electronics", "Accessories"],
    "Price": [1000, 800, 100, 1200, 850, 150, 900, 170, 1100, 120],
    "Quantity": [2, 3, 5, 1, 4, 2, 3, 3, 2, 8]
}


df = pd.DataFrame(data)

In [3]:
df.head()

         Date     Product     Category  Price  Quantity
0  2024-01-05      Laptop  Electronics   1000         2
1  2024-01-12  Smartphone  Electronics    800         3
2  2024-01-15  Headphones  Accessories    100         5
3  2024-02-03      Laptop  Electronics   1200         1
4  2024-02-15  Smartphone  Electronics    850         4

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df.head()

        Date     Product     Category  Price  Quantity
0 2024-01-05      Laptop  Electronics   1000         2
1 2024-01-12  Smartphone  Electronics    800         3
2 2024-01-15  Headphones  Accessories    100         5
3 2024-02-03      Laptop  Electronics   1200         1
4 2024-02-15  Smartphone  Electronics    850         4

In [8]:
df['Revenue'] = df['Price'] * df['Quantity']

In [9]:
df

        Date     Product     Category  Price  Quantity  Revenue
0 2024-01-05      Laptop  Electronics   1000         2     2000
1 2024-01-12  Smartphone  Electronics    800         3     2400
2 2024-01-15  Headphones  Accessories    100         5      500
3 2024-02-03      Laptop  Electronics   1200         1     1200
4 2024-02-15  Smartphone  Electronics    850         4     3400
5 2024-02-20  Smartwatch  Accessories    150         2      300
6 2024-03-10  Smartphone  Electronics    900         3     2700
7 2024-03-18  Smartwatch  Accessories    170         3      510
8 2024-03-25      Laptop  Electronics   1100         2     2200
9 2024-03-28  Headphones  Accessories    120         8      960

In [14]:
categorySale = df.groupby('Category')['Revenue'].sum()

In [15]:
categorySale

Category
Accessories     2270
Electronics    13900
Name: Revenue, dtype: int64

In [16]:
topProducts = df.groupby("Product")['Revenue'].sum().sort_values(ascending=False)

In [17]:
topProducts

Product
Smartphone    8500
Laptop        5400
Headphones    1460
Smartwatch     810
Name: Revenue, dtype: int64

In [24]:
df['Month'] = df['Date'].dt.to_period('M')
monthlySale = df.groupby('Month')['Revenue'].sum()
highestSaleMonth = monthlySale.idxmax()

In [26]:
monthlySale

Month
2024-01    4900
2024-02    4900
2024-03    6370
Freq: M, Name: Revenue, dtype: int64

In [25]:
highestSaleMonth

Period('2024-03', 'M')